@media (max-width: 600px){
    .products{
        display: inherit;
        height: auto;
    }
    .product{
        margin-top: auto;
    }
   .header
   {
        padding: 4%;
   }   
   .coments{
       display: inherit;
   } 
   .container{ 
       margin-top: 900px;
   }

}