body 
{
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}
.container 
{
  border: 2px solid black;
  border-radius: 15px;
  background-color: aqua;
}
#header {
  color: slateblue;
  border: 5px solid darkblue;
  border-radius: 15px;
  background-color: bisque;
}